.headerc{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #33aa04;
    font-size: 70px;
    align-items: center;
    text-align: center;
    color: #eee;
    
 
}

.logo{
    cursor: default;
    margin-left: 15px;
    background-color: #33aa04;
}
