.modal{
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.7);
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.content{
    padding: 5px;
    text-align: center;
    min-width: 300px;
    border-radius: 20px;  
    background-color: #eee;
    border: solid 5px #92baee;
}

.tittle-info{
    padding-right: 10%;
    margin-top: -30px;
}

#tittle-comand{
    margin-top: -30px;
    cursor: default;
    
}

.barr{
    display: flex;
    justify-content: space-between;
    min-width: 300px;
    padding: 5px
}

.list{
    display: flex;
    justify-content: space-between;
    padding: 5px;   
    color: #33aa04; 
}

.close-space{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    border: none;
    background: none;
}

.close-modal{
    cursor: pointer;
    border: none;
}

.fruit-info {
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

h3{
    color: #33aa04;
}

label{
    color: #33aa04;
}

.new-order{
    border: none;
    color: #eee;
    font-size: 14px;
    width: 200px;
    height: 30px;
    padding-top: 2%;
    padding-bottom: 5%;
    align-items: center;
    background-color: #33aa04;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.new-order:hover{
    background-color: #92baee;
}
